<h2>Let's get connected on:</h2>

<a href="https://www.linkedin.com/in/imsiddhant/" target="_blank">LinkedIn</a><br>
<a href="https://github.com/kumarsiddhant1" target="_blank">Github</a><br>
<a href="https://www.facebook.com/siddhant264" target="_blank">Facebook</a>

# Series

In [3]:
# Series -> 1-D ndarray with axis labels
# Series is made up of Numpy array

In [4]:
import numpy as np
import pandas as pd

### Creating Series

In [5]:
#from list
mydata = [2,90,34,8]
myindex = ["Mumbai", "Chennai", "Kolkata", "Delhi"]

In [6]:
myseries = pd.Series(data=mydata, index=myindex) #if we dont specify "index" argument. It will take default value.
print(myseries)
print("\nType is:",type(myseries))

Mumbai      2
Chennai    90
Kolkata    34
Delhi       8
dtype: int64

Type is: <class 'pandas.core.series.Series'>

In [7]:
print(myseries[2]) #series[default index]
print(myseries["Chennai"]) #series[labeled index]
print(myseries[0:3]) #series[default index]

34
90
Mumbai      2
Chennai    90
Kolkata    34
dtype: int64

In [8]:
print(type(myseries[2])) # Numpy integer type
print(type(myseries[2:4])) #Pandas Series type

<class 'numpy.int64'>
<class 'pandas.core.series.Series'>

In [9]:
#from dictionary

ages = {"Siddhant": 21, "Sachin": 56, "Pollard": 49, "Dhoni": 50}
age_ser = pd.Series(ages) #key-> index and values-> data

age_ser

Siddhant    21
Sachin      56
Pollard     49
Dhoni       50
dtype: int64

In [10]:
age_ser["Siddhant"]

21

In [26]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [27]:
q1_sales = pd.Series(q1)
q2_sales = pd.Series(q2)

In [29]:
q1_sales['India']

200

In [20]:
q1_sales.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [24]:
# q1_sales[:2] = 7 #Series is made up of numpy arrays. So we can broadcast it too.

In [33]:
q1_sales + q2_sales

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [38]:
q1_sales.add(q2_sales, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64